<div data-role="view" data-title="News feed" data-layout="main" data-model="app.home" data-show="app.home.onShow" data-after-show="app.home.afterShow">
    <!-- START_CUSTOM_CODE_home -->
    <!-- END_CUSTOM_CODE_home -->
    <ul data-role="listview" data-style="inset" data-template="homeModelTemplate" data-bind="{ source: homeModel.dataSource, events: {click: homeModel.itemClick}}" data-pull-to-refresh="true" data-endless-scroll="false" data-filterable="{field: 'Text', operator: 'contains'}">
    </ul>
    <!-- START_CUSTOM_CODE_homeModel -->
    <!-- END_CUSTOM_CODE_homeModel -->
    <script type="text/x-kendo-template" id="homeModelTemplate">
        <div class="image-with-text">
            <img src="#: data['PictureUrl'] #" width="30%" height="30%">
            <h3>#: data['Text'] #</h3>

        </div>
    </script>
</div>